  .contacttheme
        {
            width:300px;
            height:100px;
            margin-left:750px;
            margin-top:-400px;
           
        }
      
.tabtheme{
            height:80px;
            width:100%;
            background-color:orange;
            color:black;
            text-align: center;
            font-weight: bold;
            font-family: monospace;
            font-size: 20px;
            
        }
        .formtheme{
            margin-left:300px;
            border:ridge;
            border-color:gray;
        }
        .imgtheme{
            margin-top:-330px;
            margin-left:660px;
            width:460px;
            height: 340px;
        }   
/*         //inset,outset,dotted,ridge,solid*/
        .texttheme{
            width: 400px;
            height:30px;
            background-color:white;
            font-weight: bold;
            border:solid;
            border-color:orange;
        }
        .link{
            color:black;
            text-decoration: none;
        }
        .textareatheme
        {
            width: 400px;
            height:150px;
            background-color:white;
            font-weight: bold;
            border:solid;
            border-color:orange;
        }
        .centred-text{
            text-align:center;
            font-size:20px;
            color:#ff4500;
            font-family:sans-serif;
        }
        .singlebox{
            text-align:center;
        }